@charset "utf-8";
h1{
	color: #e5be01;
	text-align: center;
}


.InfoProducto {
	background-color: rgba(255,255,255,0.8);
	color: #000;
	border-bottom: 6px solid #e5be01;
	margin-left: 2%;
	margin-right: 20%;
	padding-left: 2%;
	padding-right: 20%;
	padding-bottom: 2%;
	padding-top: 1%;
}

p {
	text-align: center;
}

img {
	max-width: 25%;
	max-height: 25%;
	filter: drop-shadow(0 0 6px #e5be01);
}

.rightImg {
	margin-left: 100%;
}